# personal
*_input*.txt
solutions.txt
*notes.txt
tmp.txt

# binaries
/2020/23b

# Java
/*/bin

# Python
*.pyc
__pycache__

# Rust
Cargo.lock
target/

# Eclipse
.classpath
.project
.settings

# Intellij
.idea

# dependencies
qm.py
